/* float.css */

body {
font-size: 1.5em;
}

div#page {
width: 500px;
background-color: silver;
}

header {
width: 100%;
background-color: red;
}

aside#menu {
float: left;
width: 35%;
background-color: lime;
}

section#content {
float: left;
width: 65%;
}

footer {
clear: left;
width: 100%;
background-color: teal;
}

* { padding: 0; margin: 0; }