body {
    padding-top: 10px;
}
.header {
    padding-bottom: 20px;
}
.header h3 {
    margin-top: 10px;
}

.links-list li {
    position: relative;
    padding-left: 40px;
}

.up, .down {
    position: absolute;
    left: 10px;
    color: #BBB;
    cursor: pointer;
}

.up {
    top: 5px;
}

.down {
    top: 20px;
}

.vote-total {
    font-size: 12px;
    position: absolute;
    left: 7px;
    top: 21px;
    text-align: center;
    width: 20px;
}

.upvoted .up.vote, .downvoted .down.vote {
    color: #999;
}

.show-more {
    cursor: pointer;
}
.show-more:hover {
    background-color: #F2F2F2;
}
