<h1>Meadowlark Travel</h1>
{{!
Three brackets will not do any character escaping, so HTML in customer will
be rendered. If we used two brackets, "<em>" and "</em>" would be written as
text inside of the <p> element.
}}
<p>Welcome, {{{customer}}}</p>
